<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='favi.png') }}">
</head>
<body>
    <header>
        <h1>About Me</h1>
    </header>
    <main>
        <section>
            <h2>My Journey</h2>
            <p>This is a brief overview of my journey.</p>
        </section>
    </main>
    <script src="static/script.js"></script>
    <footer>
        <p>&copy; 2026 My Web Page</p>
    </footer>
</body>
</html>